footer.footer(data-aos="fade-up")
  .social
    .social__title Поделиться с друзьями
    a.social__item.vk(href="", target="_blank")
      svg
        use(xlink:href="images/sprite.svg#soc-vk")
    a.social__item.ok(href="", target="_blank")
      svg
        use(xlink:href="images/sprite.svg#soc-ok")
    a.social__item.fb(href="", target="_blank")
      svg
        use(xlink:href="images/sprite.svg#soc-fb")
    a.social__item.tw(href="", target="_blank")
      svg
        use(xlink:href="images/sprite.svg#soc-tw")
  img(src="images/banner.jpg", width="1440", height="417", alt="")
