.custom-radio {
  $self: &;

  &__item {
    display: block;
    cursor: pointer;

    & + & {
      margin-top: 0;
    }

    @include hover {
      #{$self}__text {
        &::before {
          border-color: $green-84;
        }
      }
    }

    input:focus ~ #{$self}__text {
      &::before {
        border-color: $green-84;
      }
    }

    input:checked ~ #{$self}__text {
      &::before {
        border-color: $green-84;
        background-color: $green-84;
      }
    }
  }

  &__text {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 50px;

    font-size: 20px;
    line-height: 42px;
    color: $black;

    @include max(xl) {
      padding-left: vw(50, 1440);
      font-size: vw(20, 1440);
      line-height: vw(42, 1440);
    }

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: solid 1px $black;
      transition: border-color 0.3s ease, background-color 0.3s ease;

      @include max(xl) {
        top: vw(11, 1440);
        width: vw(25, 1440);
        height: vw(25, 1440);
      }
    }
  }
}
