.hero {
  position: relative;
  display: flex;
  height: 1128px;
  padding-top: 146px;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-image: url("../images/hero.jpg");
  border-bottom: solid 4px $gold;

  @include max(xl) {
    height: vw(1128, 1440);
    padding-top: vw(146, 1440);
    border-bottom-width: vw(4, 1440);
    background-position: 50% 0;
  }

  @include max(sm) {
    height: vw(665, 375);
    padding-top: vw(95, 375);
    border-bottom: none;
    background-position: 76% 0;
    background-image: url("../images/hero-mobile.jpg");

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: vw(4, 375);
      background-color: $gold;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    @include max(sm) {
      display: block;
    }
  }

  &__title {
    width: 100%;
    max-width: 482px;
    margin-left: auto;
    font-size: 120px;
    line-height: 1;
    color: $green-05;
    font-weight: 400;
    text-transform: uppercase;

    @include max(xl) {
      max-width: vw(482, 1440);
      font-size: vw(120, 1440);
    }

    @include max(sm) {
      max-width: vw(165, 375);
      margin-right: vw(-6, 375);
      font-size: vw(40, 375);
      text-align: center;
    }

    span {
      display: block;
      margin: -21px 0 -3px;
      font-size: 80px;
      line-height: 1;
      font-weight: 200;
      text-transform: lowercase;

      @include max(xl) {
        margin: vw(-21, 1440) 0 vw(-3, 1440);
        font-size: vw(80, 1440);
      }

      @include max(sm) {
        margin: 0 0 vw(3, 375);
        font-size: vw(30, 375);
      }
    }
  }

  &__tags {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;

    @include max(sm) {
      display: none;
    }
  }

  &__tag {
    width: 100%;
    max-width: 303px;
    margin: 0 5px;
    padding: 22px 9px 16px;
    font-size: 16px;
    line-height: 1;
    color: $green-06;
    letter-spacing: 0.7em;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba($gold, 0.7);

    span {
      margin-right: -0.7em;
    }

    @include max(xl) {
      max-width: vw(303, 1440);
      margin: 0 vw(5, 1440);
      padding: vw(22, 1440) vw(9, 1440) vw(16, 1440);
      font-size: vw(16, 1440);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);

    svg {
      display: block;
      animation: shift 2s infinite ease;
    }
  }
}

@keyframes shift {
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
