.question {
  $self: &;
  display: flex;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: 503px 74px 1fr;
  transition: height 0.3s ease;

  @include max(xl) {
    grid-template-columns: vw(503, 1440) vw(74, 1440) 1fr;
  }

  @include max(sm) {
    display: flex;
    flex-direction: column;
  }

  &.is-image-not-load {
    #{$self}__image {
      //background-color: lightgray;
      background-repeat: no-repeat;
      background-size: scale-down;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3e%3cpath d='M0 4v42h50V4Zm2 2h46v38H2Zm2 2v22.781a1.016 1.016 0 0 0 0 .407V42h42v-4.844a1.016 1.016 0 0 0 0-.406V8Zm2 2h38v24.563l-9.281-9.282a1.009 1.009 0 0 0-.844-.281 1.008 1.008 0 0 0-.594.281l-4.25 4.25L18.75 18.313a1 1 0 0 0-.906-.313c-.2.027-.383.117-.532.25L6 28.688Zm29 5a3 3 0 1 0 .002 6.002A3 3 0 0 0 35 15Zm-17.063 5.438 9.657 10.53-2.313 2.313a1.014 1.014 0 0 0 0 1.438c.399.398 1.04.398 1.438 0l2.843-2.875c.141-.086.258-.203.344-.344L34 27.437l10 10V40H6v-8.531Z'/%3e%3c/svg%3e");
    }
  }

  /*&__main {
    max-width: 545px;
    margin-right: 32px;
    padding-top: 17px;
    padding-right: 42px;
    padding-bottom: 65px;
    flex-shrink: 0;

    @include max(xl) {
      max-width: vw(545, 1440);
      margin-right: vw(32, 1440);
      padding-top: vw(17, 1440);
      padding-right: vw(42, 1440);
      padding-bottom: vw(65, 1440);
    }
  }*/

  &__title {
    display: flex;
    margin-bottom: 51px;
    grid-column-start: 1;
    grid-column-end: 2;

    @include max(xl) {
      margin-bottom: vw(51, 1440);
    }

    @include max(sm) {
      margin-bottom: vw(12, 375);
      margin-left: vw(-14, 375);
    }

    &-number {
      min-width: 80px;
      font-size: 144px;
      line-height: 1;
      color: $gold;
      align-self: center;
      flex-shrink: 0;

      @include max(xl) {
        min-width: vw(80, 1440);
        font-size: vw(144, 1440);
      }

      @include max(sm) {
        min-width: vw(80, 375);
        font-size: vw(144, 375);
      }
    }

    &-text {
      font-size: 40px;
      line-height: 1;
      color: $green-06;
      align-self: center;

      @include max(xl) {
        font-size: vw(40, 1440);
      }

      @include max(sm) {
        margin-top: vw(8, 375);
        font-size: vw(24, 375);
      }
    }
  }

  &__answers {
    padding-left: 35px;
    padding-bottom: 65px;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;

    @include max(xl) {
      padding-left: vw(35, 1440);
      padding-bottom: vw(65, 1440);
    }

    @include max(sm) {
      width: vw(332, 375);
      margin-left: vw(-21, 375);
      padding: 0;
      order: 1;
    }
  }

  &__image {
    //width: 100%;
    width: 608px;
    flex-shrink: 0;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 3;

    @include max(xl) {
      max-width: vw(608, 1440);
    }

    @include max(sm) {
      max-width: none;
      width: 100vw;
      height: vw(293, 375);
      margin-left: vw(-40, 375);
      margin-right: vw(-40, 375);
      margin-bottom: 58px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
