section.hero 
  .hero__container.container
    h1.hero__title Жиры, <span>которые нам </span>нужны
    
    .hero__tags
      each it in ['Про рыбий жир', 'Игра', 'Результат']
        .hero__tag
          span= it

