section.intro 
  .intro__container.container
    .intro__intro(data-aos="fade-up") Как мы привыкли думать о здоровом питании? Быстрые углеводы — <span>исключить</span>, жиры — <span>исключить</span>, есть только овощи и мясо на пару… Правильно ли это? На самом деле, нет — и особенно незаслуженно пострадала репутация жиров.
      
    .intro__main 
      p(data-aos="fade-up") Именно Омега-3 полиненасыщенные жирные кислоты участвуют в работе мозга и сердечно-сосудистой системы, способствуют концентрации памяти, помогают поддержать иммунитет, оставаться активными, и делают нашу кожу сияющей, а волосы — густыми. Наиболее важными Омега-3 кислотами являются: эйкозапентаеновая (ЭПК) и докозагексаеновая (ДГК) кислоты.

      p(data-aos="fade-up") К сожалению, человеческий организм практически не синтезирует Омега-3 кислоты самостоятельно, и нуждается в их ежедневном получении с пищей. Несбалансированный рацион питания, отсутствие достаточного количества источников омега-кислот (в частности, морской рыбы жирных сортов) – распространенная проблема современных людей.