section.quiz#game
  .quiz__container.container
    .quiz__info
      .quiz__intro(data-aos="fade-up") Мы предлагаем вам проверить себя: насколько сбалансированно вы питаетесь и получаете ли необходимое количество Омега-3 с пищей? По итогам теста мы расскажем, какое количество Омега-3 необходимо именно вам и откуда вы можете их получить.

      .quiz__form 
        .quiz__hint(data-aos="fade-up") Давайте познакомимся: <span>как вас зовут?</span>
        label.quiz__field(aria-label="Ваше имя", data-aos="fade-up")
          input(type="text", name="name")
          span.quiz__field-message
        div(data-aos="fade-up")
          button.quiz__btn(type="button")
            span Играть
    
    .quiz__main
      //-.question
        .question__title
          span.question__title-number 1
          span.question__title-text Как вы можете оценить свой образ жизни?
        
        +custom-radio('answer', page.answers, 1, 'question__answers')
        .question__image 
          img(src="images/quiz/question-1.jpg", width="608", height="487", alt="")
      //-.quiz__control
        button.quiz__next(type="button") Дальше