section.result
  .result__panorama
    .result__points
      span Ваш результат
      span.big 2 балла
    
    .result__panorama-image
      picture 
        source(media="(max-width: 767px)", srcset="images/quiz/result-mobile-1.jpg")
        img(src="images/quiz/result-1.jpg", alt="")

    .result__appeal Ольга, <br>вы гуру здорового питания и образа жизни!

  .container
    .result__main 
      p Поздравляем, вашему умению заботиться о себе можно только позавидовать. Вы знаете, как найти баланс между делами и отдыхом, умеете восстанавливать свои ресурсы и наверняка хорошо спите, и правильно питаетесь. Но вам следует уделить больше внимания Омега-3 в вашем рационе.

      
      p Именно Омега-3 помогают поддерживать работу иммунной и эндокринной систем, процессы метаболизма, состояние кожи и волос, укреплять здоровье в целом и быть более активным и продуктивным! По данным ВОЗ оптимальная суточная норма Омега-3 кислот для взрослых составляет 1000 мг в день.
      
      p Хорошими источниками Омега-3 может стать рыба жирных сортов (палтус, скумбрия и т.д.) и морепродукты, употреблять которые нужно 2-3 раза в неделю. Если это для вас не очень удобно, то хорошим решением может стать добавка к пище! 
      
      p Рекомендуем выбирать высококачественные добавки Омега-3, с высоким содержанием кислот, дополненных витаминами А, Д, Е, которые не содержат консервантов и красителей и сделаны норвежским производителем. Обратите внимание на натуральный источник Омега-3 в виде рыбьего жира. 
      
      p Именно Омега-3 жирные кислоты могут стать финальным «кирпичиком» в вашей крепости заботы о себе и своем организме!

