html {
}
body {
  font-family: $mainFont;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: $textMainColor;
  //background-color: $dark;
  background-color: $light;

  /*@include max(xxl) {
    font-size: vw(18);
    line-height: vw(21);
  }*/

  @include max(xl) {
    font-size: vw(20, 1440);
  }

  @include max(sm) {
    //font-size: vw(16, 414);
    //line-height: vw(18, 414);
  }
}

.main {
  padding-top: 13px;
  overflow: hidden;

  @include max(xl) {
    padding-top: vw(13, 1440);
  }
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;

  /*@include max(xxl) {
    max-width: vw(1400);
    padding: 0 vw(15);
  }*/

  @include max(sm) {
    max-width: none;
    padding: 0 vw(20, 414);
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
/*
.test-promise {
  display: flex;
  flex-wrap: wrap;
  width: 406px;
  margin: 50px auto;
  border: solid 3px $white;
}*/
