-
  LINKS = [
    {
      image: 'quiz-bg-1.jpg',
    },
    {
      image: 'quiz-bg-1@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-mobile-1.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-mobile-1@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-2.jpg',
    },
    {
      image: 'quiz-bg-2@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-mobile-2.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-mobile-2@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-3.jpg',
    },
    {
      image: 'quiz-bg-3@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-mobile-3.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-mobile-3@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-4.jpg',
    },
    {
      image: 'quiz-bg-4@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-mobile-4.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-mobile-4@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-5.jpg',
    },
    {
      image: 'quiz-bg-5@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-mobile-5.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-mobile-5@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-1.jpg',
    },
    {
      image: 'quiz-bg-result-1@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-mobile-1.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-result-mobile-1@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-2.jpg',
    },
    {
      image: 'quiz-bg-result-2@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-mobile-2.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-result-mobile-2@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-3.jpg',
    },
    {
      image: 'quiz-bg-result-3@2x.jpg',
      media: '(-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)'
    },
    {
      image: 'quiz-bg-result-mobile-3.jpg',
      media: 'only screen and (max-width: 767px)'
    },
    {
      image: 'quiz-bg-result-mobile-3@2x.jpg',
      media: 'only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), not all, only screen and (max-width: 767px) and (min-resolution: 144dpi), only screen and (max-width: 767px) and (min-resolution: 1.5dppx)'
    }
  ];

  resultImages = [
    'result-1.jpg',
    'result-1@2x.jpg',
    'result-2.jpg',
    'result-2@2x.jpg',
    'result-3.jpg',
    'result-3@2x.jpg'
  ]